


body {
  background: linear-gradient(180deg, #000000 0%, rgb(70, 70, 71) 100%);
  background-size: cover;
  font-family: "Oxanium", sans-serif;
  font-optical-sizing: auto;

}


nav {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
}


.navWrap {
  height: 100%;
}

/* For WebKit based browsers (Chrome, Safari, newer versions of Opera) */
::-webkit-scrollbar {
  width: 6px; /* width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* color of the track */
}

::-webkit-scrollbar-thumb {
  background: #888; /* color of the thumb */
}

/* For Firefox */
/* Note: Firefox supports scrollbar-color and scrollbar-width properties */
/* However, as of my last update in 2022, Firefox doesn't support individual styles for scrollbar-track and scrollbar-thumb */

/* Set the scrollbar colors */
/* This will set both the track and thumb colors */
/* Note: You can also set the width of the scrollbar using scrollbar-width property */



.background {
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 100;
  width: 220px; 
  height: 100%;
  background: black
}

@media (max-width: 600px) {
  .background {
    width: 50px; /* Width for mobile screens */
  }
}


button {
  outline: none;
  border: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  cursor: pointer;
  position: absolute;
  top: 18px;
  left: 15px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: transparent;
}

@media (max-width: 600px) {
  button {
    left: 5px;
    width: 30px;
    height: 30px;
  }
}

ul,
li {
  margin: 0;
  padding: 0;
}

ul {
  padding: 25px;
  position: absolute;
  top: 100px;
  width: 200px; /* Default width for larger screens */
}

@media (max-width: 600px) {
  ul {
    padding: 10px; /* Padding for mobile screens */
  }
}




.refresh {
  padding: 10px;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  width: 20px;
  height: 20px;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

